<div class="appPage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h4>
                    Employees' Requests
                    <span>
                        <select id="idHomeFromWorkFilter">
                            <option value="all">all</option>
                            <option value="0">pending</option>
                            <option value="-2">canceled</option>
                            <option value="-1">rejected</option>
                            <option value="1">approved</option>
                        </select>
                    </span>

                </h4>

                <table class="table table-striped listRecords">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Employee</th>
                      <th scope="col">Date</th>
                      <th scope="col">Hours</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table> 

            </div>
        </div>
    </div>

</div>