<div class="appPage">
    <form class="needs-validation" id="idLogin_form" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
        </div>
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control text-center" id="idLogin_username" placeholder="login" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
        </div>
        <div class="col-md-4 mb-3">
          <input type="password" class="form-control text-center" id="idLogin_password" placeholder="password" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
        </div>
        <div class="col-md-4 mb-3 text-center">
            <button class="btn btn-primary" id="idLogin_login" type="submit">Log in</button>
        </div>
        <div class="col-md-4 mb-3">
        </div>
      </div>
      
    </form>
</div>